
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Wellcome to Fragrance Management</h2>
<h3>@(Session["Admin_Email"]?.ToString())</h3>
<h3>@(Session["Admin_Name"]?.ToString())</h3>
